<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="<%= description %>">
    <title>
        <%= title %>
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="theme-color" content="#1BA691">
    <meta name="msapplication-navbutton-color" content="#1BA691">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1BA691">
</head>
<body>
<div>
    首页
</div>
</body>
</html>
